h1 {
   border: solid red 5px;
}
.mainWindowBottom{
    display: flex;
    height:fit-content;
    justify-content: space-evenly;
    border: solid  rgb(83, 0, 69) 5px;
}
/* we may not need the main window, is body the same */
.mainWindow{
    height: 100%;
    width: 100%;
    border: solid blue 5px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    position:static;
    border: dashed palegreen 5px;
    margin:3em;
    height: 85%;
    width: 95%;
}
footer{
    border: solid red 5px;
    position:absolute;
    bottom: 1%;
    width: 95%;
    height: 5%
}
html{
    height: 100%;
}