.Store{
    display: flex;
    height:80%;
    justify-content:space-between;
    border: solid  rgb(83, 0, 69) 5px;
}
/* we may not need the main window, is body the same */
.mainWindow{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid blue 5px;
}
.storeView, .filters{
    border: solid red 5px;
}
.storeView{
    width: 80%;
}
.filters{
    width: 20%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    position:static;
    border: dashed palegreen 5px;
    margin:3em;
    height: 85%;
    width: 95%;
}
footer{
    border: solid red 5px;
    position:absolute;
    bottom: 1%;
    width: 95%;
    height: 5%
}
html{
    height: 100%;
}
.weeklyforcast{
    height: 20%;;
    display: flex;
    justify-content: start;
}
.cityname, .temp{
    width: 3em;
    height: 3em;
    margin: auto 4em 0 0;
}