.StoreSection{
    display: flex;
    height:90%;
    justify-content:space-between;
    /* border: solid  rgb(83, 0, 69) 5px; */
}
/* we may not need the main window, is body the same */
.mainWindow{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: solid blue 5px; */
}
.weeklyforcast, .storeView, .filterSection, td, th{
    border: solid black 2px;
    border-radius: 10px;
    margin:1px;
}
.storeView{
    width: 80%;
}
.StoreTable{
    height: 100%;
    width: 100%;
    text-align: center;
}
.filterSection{
    width: 20%;
}
.filterCheckbox{
    margin: 2em;
    height: 90%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    position:static;
    /* border: solid red 5px; */
    margin:3em;
    height: 85%;
    width: 95%;
}
footer{
    border: solid red 5px;
    position:absolute;
    bottom: 1%;
    width: 95%;
    height: 5%
}
html{
    height: 100%;
}
.weeklyforcast{
    height:10%;
    display: flex;
    justify-content: start;
}
.cityname, .temp{
    margin: auto 4em 0 0;
}
/* testing */
.box{
    display: none;
}
.show{
    display: block;
}
#filterCheckbox{
    display: flex;
}
/* td, th{
    border: solid black 1px;
    border-radius: 10px;
} */